@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import 'tailwindcss';

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}

@theme {
  --font-inter: 'Inter', sans-serif;
  --text-xxs: 0.625rem;
  --shadow-shape: 0px 0px 0px 1px #0000001a, 0px 2px 2px 0px #0000001a,
    0px 4px 4px 0px #0000001a, 0px 8px 8px 0px #0000001a,
    0px 1px 0px 0px #ffffff08 inset, 0px 0px 0px 1px #ffffff08 inset;
  --shadow-content: 0px 0px 0px 1px #0000001a, 0px 2px 2px 0px #0000001a,
    0px 4px 4px 0px #0000001a, 0px 8px 8px 0px #0000001a,
    0px 1px 0px 0px #ffffff08 inset, 0px 0px 0px 1px #ffffff08 inset;

  --animate-border: border 2s linear infinite;
  @keyframes border {
    to {
      --border-angle: 360deg;
    }
  }
}
